.login-con{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login-form-con {
    width: 500px;
    height: 500px;
    background-color: white;
    border-radius: 15px;
    box-shadow: -2px 2px 15px 0px rgba(0, 0, 0, 0.226);
}

.login-form-con img{
    max-width: 200px;
}

.login-form-con input:not(:last-child){
    width: 80%;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid grey;
    margin: 10px;
}