.pic-detail-con {
    position: fixed; /* Stay in place */
    z-index: 1020; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.233)
}

.detail-con{
    width: 90%;
    height: 95%;
    border-radius: 15px;
    background: white;
    overflow: auto;
}

.detail-nav{
    width: 100%;
    height: 50px;
    padding: 10px 20px;
    background-color: white;
}

.detail-nav img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin: 30px 0;
}

.detail-pic-con{
    width: 100%;
    height: 100%;
}

.detail-pic-con img{
    margin-top: 50px;
    max-width: 500px;
    margin-bottom: 200px;
    height: auto;
    object-fit: cover;
}

.detail-con a{
    text-decoration: none;
}
